<ion-view view-title="Details">
  <ion-content>
    <!-- <a class="button button-stable button-outline" href="#/app/search">
      <i class="icon ion-ios-arrow-back"></i>
      Search
    </a> -->


    <div class="list card">

      <!-- <div class="item item-divider">

      </div> -->
      <div class="item item-avatar">
        <img src="../img/earth-thumbnail-small.jpg">
        <h2>Beer Name</h2>
        <p>Alcohol %</p>
      </div>

      <div class="item item-image">
        <img src="../img/earth-thumbnail-small.jpg">
      </div>

      <!-- <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a> -->
      <a class="item item-icon-left">
        <i class="icon ion-beer"></i>
        <div>Alcohol Content </div>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-ios-pint"></i>
        <div>IBU</div>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-document-text"></i>
        <div>Description</div>
      </a>

      <a class="item item-icon-left">
        <i class="icon ion-leaf"></i>
        <div>Organic</div>
      </a>

    </div>
  </ion-content>
</ion-view>
