<ion-view view-title="Beer Search">
  <ion-content>
    <h1>Beer Search</h1>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Beer Name</span>
        <input type="text" placeholder="Search by Beer Name" ng-model="search.name">
      </label>
      <!-- <label class="item item-input item-select">
        <div class="input-label">
          Type
        </div>
        <select>
          <option selected>Any</option>
          <option>Light</option>
          <option>Dark</option>
        </select>
      </label> -->

      <div class="item item-input">
        <span class="input-label">IBU</span>
        <a class="icon placeholder-icon" ng-click="search.ibuGreater = !search.ibuGreater">
          {{search.ibuGreater ? ">=" : "<="}}
        </a>
        <input type="tel" placeholder="IBU" ng-model="ibu">
      </div>

      <div class="item item-input">
        <span class="input-label">Alcohol Content (%)</span>
        <a class="icon placeholder-icon" ng-click="search.abvGreater = !search.abvGreater">
          {{search.abvGreater ? ">=" : "<="}}
        </a>
        <input type="tel" placeholder="Alcohol Content" ng-model="search.abv">
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          Organic?
        </div>
        <select ng-model="organic.index"
            ng-options="organicChoices.indexOf(item) as item for item in organicChoices">
        </select>
      </label>
    </div>

    <button class="button button-positive button-block" on-tap="getResults()">
      Submit
    </button>
  </ion-content>
</ion-view>
