<ion-view view-title="Search">
  <ion-content>
    <h1>Search</h1>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="Search by Beer Name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Type
        </div>
        <select>
          <option selected>Any</option>
          <option>Light</option>
          <option>Dark</option>
        </select>
      </label>

      <div class="item item-input item-floating-label">
        <span class="input-label">IBU</span>
        <input type="tel" placeholder="IBU">
      </div>

      <div class="item item-input item-floating-label">
        <span class="input-label">Alcohol Content (%)</span>
        <input type="tel" placeholder="Alcohol Content">
      </div>

      <label class="item item-input item-select">
        <div class="input-label">
          Organic
        </div>
        <select>
          <option selected>Any</option>
          <option>Yes</option>
          <option>No</option>
        </select>
      </label>
    </div>

    <button class="button button-positive button-block">
      Submit
    </button>
  </ion-content>
</ion-view>
